astroid==3.0.1
black==23.10.1
certifi==2023.11.17
cfgv==3.4.0
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
dill==0.3.7
distlib==0.3.7
filelock==3.13.1
fonttools==4.47.0
identify==2.5.31
isort==5.12.0
kiwisolver==1.4.5
matplotlib==3.8.2
mccabe==0.7.0
mypy==1.6.1
mypy-extensions==1.0.0
networkx==3.2
networkx-stubs==0.0.1
nodeenv==1.8.0
npyscreen==4.10.5
numpy==1.26.2
packaging==23.2
pathspec==0.11.2
Pillow==10.1.0
pipenv==2023.11.15
platformdirs==3.11.0
pre-commit==3.5.0
pylint==3.0.2
pyparsing==3.1.1
PyTermGUI==7.7.0
python-dateutil==2.8.2
PyYAML==6.0.1
six==1.16.0
tomlkit==0.12.1
typing_extensions==4.9.0
virtualenv==20.24.6
